/**
* Footer for Potherca
*/
.created-by {
    -moz-border-radius: 0.35em;
    -webkit-border-radius: 0.35em;
    border-radius: 0.35em;
    color: inherit;
    text-decoration: none;
}

.potherca,
.Potherca {
    border-bottom: 1px solid rgb(220, 50, 50);
    border-bottom-color: rgba(220, 50, 50, 1);
    color: rgb(220, 50, 47);
    position: relative;
    -moz-transition: border 0.35s ease-out;
    -o-transition: border 0.35s ease-out;
    -webkit-transition: border 0.35s ease-out;
    transition: border 0.35s ease-out
}

.created-by:hover .potherca,
.created-by:hover .Potherca {
    color: rgb(255,255,255);
    border-color: transparent;
    border-bottom-color: rgba(220, 50, 50, 0)
}

.potherca::after,
.Potherca::after {
    background: no-repeat url(https://pother.ca/images/avatars/ben-cartoon-background-red-252-square.png);
    -webkit-background-size: 100%;
    background-size: 100%;
    -moz-border-radius: 2em;
    -webkit-border-radius: 2em;
    border-radius: 2em;
    content: " ";
    display: block;
    height: 4em;
    position: absolute;
    right: 0;
    top: -0.85em;
    -moz-transform: rotatex(90deg);
    -ms-transform: rotatex(90deg);
    -o-transform: rotatex(90deg);
    -webkit-transform: rotatex(90deg);
    transform: rotatex(90deg);
    -moz-transition: -moz-transform 0.35s ease-out;
    -o-transition: -o-transform 0.35s ease-out;
    -webkit-transition: -webkit-transform 0.35s ease-out;
    transition: transform 0.35s ease-out;
    width: 4em
}

.created-by:hover .potherca::after,
.created-by:hover .Potherca::after {
    height: 4em;
    -moz-transform: rotatex(0deg);
    -ms-transform: rotatex(0deg);
    -o-transform: rotatex(0deg);
    -webkit-transform: rotatex(0deg);
    transform: rotatex(0deg)
}

/*EOF*/
